# build output
/dist/
/.atlas-data/

# generated types
/.astro/

# dependencies
/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.astro-dev*.log
.atlas-start*.log

# environment variables
/.env
/.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# local personal content and overrides
/src/config/
!/src/config/
!/src/config/i18n.ts
!/src/config/remarkDisplayMath.mjs
!/src/config/remarkWikiLinks.mjs
!/src/config/site.ts
/src/content/
!/src/content/
!/src/content/blog/
!/src/content/blog/**
!/src/content/projects/
!/src/content/projects/**
/src/contents/
/config/
