---
import { getCollection } from 'astro:content';
import ProjectCard from '../components/ProjectCard.astro';
import { getLocaleFromUrl } from '../config/site';

const locale = getLocaleFromUrl(Astro.url);
const projects = (await getCollection('projects'))
	.filter((project) => project.data.lang === locale)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<section class="mx-auto max-w-6xl px-5 pb-20 md:pb-28">
	<div class="mx-auto grid max-w-5xl gap-5">
		{projects.map((project) => <ProjectCard project={project} variant="wide" />)}
	</div>
</section>
